@{
    ViewData["Title"] = "About";
}
<h2>Work Safety Management</h2>
<br />
<p>Work Safety Management Project Team: Amandeep Singh and Mikhail Elterman.</p>
<br /><br />
<div>Hard Hat Icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<style>
    .nav-item-about {
        background-color: rgba(0,0,0, 0.3);
    }
</style>