﻿@{
    ViewData["Title"] = "Dashboard";
    ViewData["User"] = "User";
}
<div style="width: 100%; height: 80px;">
    <h4 style="display: inline-block;">Welcome, @ViewData["User"] </h4>
    <button onclick="alertWorkers();" style="display: inline-block; float: right; margin: 15px 15px 0px 0px; background-color: rgb(214, 12, 12); box-shadow: 1px 1px 2px grey;" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">warning</i>
    </button>
</div>
<div id="dash-main">
    <div id="dashFlexRow1" class="dash-container">
        <div id="dashMap" class="dash-container-element">
            <label class="dash-header-label">Map</label>
            <partial name="../Shared/UserControls/AzureMap.cshtml" />
        </div>
        <div id="dashAlerts" class="dash-container-element">
            <label class="dash-header-label">Alerts</label>
            <table id="dashAlertsTableHeader" class="dash-table">
                <tr>
                    <th style="width:35%;">Worker</th>
                    <th style="width:35%;">Type</th>
                    <th style="width:15%;">Reading</th>
                    <th style="width:15%;">Time</th>
                </tr>
            </table>
            <div id="dashAlertsTableWrapper" style="overflow-y: auto; height: calc(100% - 51px)">
                <table id="dashAlertsTable" class="dash-table">
                    <!--AJAX-->
                </table>
            </div>
        </div>
    </div>
    <div id="dashFlexRow2" class="dash-container">
        <div id="dashTeam" class="dash-container-element" style="min-height: 137px; max-height: 203px;">
            <label class="dash-header-label">Team</label>     
            <div id="dashTeamContainer" class="dash-team-container">
                <!--AJAX-->
            </div>
        </div>
    </div>
    <div id="dashFlexRow3" class="dash-container">
        <div id="dashPowerBI" class="dash-container-element">
            <label class="dash-header-label">Status History</label>
            <iframe scrolling="no" id="dash-powerbi" src="https://app.powerbi.com/view?r=eyJrIjoiM2E2Nzk3NzEtY2VjNS00MjkwLTg2YjYtYTVmOGIzMjc2ZTg2IiwidCI6ImU5YWVmOWI3LTI1Y2EtNDUxOC1hODgxLTMzZTU0Njc3MzEzNiIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>

<style>
    .nav-item-dashboard{
        background-color: rgba(0,0,0, 0.3);
    }
    .dash-container {
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
        justify-content: center;
        align-items: stretch;
    }
    .dash-container-element {
        min-height: 400px;
        max-height: 400px;
        min-width: 300px;
        border: 1px solid grey; 
        border-radius: 8px;
        box-shadow:2px 2px 4px #808080;
        margin: 4px;
        background-color: rgb(250, 250, 255);
        overflow: hidden;
        flex: 1;
    }
    .dash-header-label {
        width: 100%;
        height: 30px;
        color: white;
        background-color: rgb(63, 81, 181);
        padding: 4px 0px 0px 12px;
        margin: 0;
    }
    .dash-table {
        width: 100%;
        white-space: nowrap;
    }
    .dash-team-container{
        display: flex;
        flex-flow: row nowrap;
        flex: 1 100%;
        align-items: stretch;
        overflow-x: auto;
    }
    .dash-team-container-element {
        min-height: 125px;
        min-width: 125px;
        border: 1px solid grey; 
        border-radius: 8px;
        margin: 4px;
        background-color:rgb(250, 250, 255);
        overflow: hidden;
        cursor: pointer;
    }
    .dash-team-header-label {
        width: 100%;
        color: white;
        background-color: grey;
        padding-left: 8px;
        text-align: center;
        text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        margin: 0;
    }
    .dash-table tr, th {
        text-align: center;
        border-top: 1px solid white;
    }
    /*.dash-table tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.5);
    }*/
    .team-avatar {
        display: block;
        width: 125px;
        height: 125px;
    }
    .team-info-table {
        display: none;
        width: 165px;
    }
    #dash-main {
        display: flex;
        flex-direction: column;
    }
    #dash-powerbi {
        display: block;
        width: 100%;
        height: calc(100% - 30px);
    }
    .disabled {
        pointer-events: none;
        opacity: 0.2;
    }
    iframe {
        overflow-y: hidden !important;
    }
</style>

@section scripts{ 
<script>
    var lats = [], lons = [];
    var teamid = 0;

    mapsData = [], usersData = [];

    var testUsersData = [
        {
        "userId": 1,
        "firstName": "Amandeep",
        "lastName": "Singh",
            "phone": "123-456-7890",
        "deviceStatus": "Active",
        "lastWorkerLocation": {
            "workerId": 0,
            "time": "2018-08-05T03:06:11.397Z",
            "alertLevel": 0,
            "deviceId": 0,
            "device": {
                "deviceId": 0,
                "name": "string",
                "currentUserId": 0,
                "type": "string"
            },
            "latitude": 0,
            "longitude": 0
        },
        "team": {
            "teamId": 0,
            "name": "string",
            "supervisorId": 0,
            "members": [
                null
            ]
        }
        },
        {
            "userId": 2,
            "firstName": "Garett",
            "lastName": "Chang",
            "phone": "123-456-7890",
            "deviceStatus": "Active",
            "lastWorkerLocation": {
                "workerId": 0,
                "time": "2018-08-05T03:06:11.397Z",
                "alertLevel": 1,
                "deviceId": 0,
                "device": {
                    "deviceId": 0,
                    "name": "string",
                    "currentUserId": 0,
                    "type": "string"
                },
                "latitude": 0,
                "longitude": 0
            },
            "team": {
                "teamId": 0,
                "name": "string",
                "supervisorId": 0,
                "members": [
                    null
                ]
            }
        },
        {
            "userId": 3,
            "firstName": "Mikhail",
            "lastName": "Elterman",
            "phone": "123-456-7890",
            "deviceStatus": "Active",
            "lastWorkerLocation": {
                "workerId": 0,
                "time": "2018-08-05T03:06:11.397Z",
                "alertLevel": 2,
                "deviceId": 0,
                "device": {
                    "deviceId": 0,
                    "name": "string",
                    "currentUserId": 0,
                    "type": "string"
                },
                "latitude": 0,
                "longitude": 0
            },
            "team": {
                "teamId": 0,
                "name": "string",
                "supervisorId": 0,
                "members": [
                    null
                ]
            }
        },
        {
            "userId": 4,
            "firstName": "John",
            "lastName": "Doe",
            "phone": "111-222-3333",
            "deviceStatus": "Inactive",
            "lastWorkerLocation": {
                "workerId": 0,
                "time": "2018-08-05T03:06:11.397Z",
                "alertLevel": 2,
                "deviceId": 0,
                "device": {
                    "deviceId": 0,
                    "name": "string",
                    "currentUserId": 0,
                    "type": "string"
                },
                "latitude": 0,
                "longitude": 0
            },
            "team": {
                "teamId": 0,
                "name": "string",
                "supervisorId": 0,
                "members": [
                    null
                ]
            }
        }
    ];

    //Execute after document is loaded.
    document.addEventListener("DOMContentLoaded", function (event) {
        window.dispatchEvent(new Event('resize')); //Fire resize event to force mapbox to redraw.

        updateData();
        updateUsers();
    });

    //Update data every 10 seconds.
    setInterval(function () {
        //updateData();

        if ($("#dashTeamContainer").children(".expanded").length == 0) {
            updateUsers();
        }
    }, 10000);

    function updateMapMarkers(alertsData) {
        $.get('https://wsm-function.azurewebsites.net/api/WorkerLocation?code=wJGHlV1atpu6BcGfT1X8qJx0aL0KjyWHikZoWO30KYm3yw77TDoOQQ==', function (data) {
            $("[class^='worker-pin']").remove(); //Clear all pins before redrawing.
            lats = []; lons = [];

            for (var i in data) {
                var workerPin = document.createElement('div');
                var workerName = data[i].WorkerName.split(' ');

                workerPin.innerHTML = '<label class="worker-pin-label">' + workerName[0] + '</label>'

                var workerPinClassSet = false;

                for (var x in alertsData) {
                    if (alertsData[x].WorkerName == data[i].WorkerName && alertsData[x].Level == "High") {
                        workerPin.classList.add('worker-pin-red');
                        workerPinClassSet = true;
                    }
                }
                if (!workerPinClassSet) {
                    for (var x in alertsData) {
                        if (alertsData[x].WorkerName == data[i].WorkerName && alertsData[x].Level == "Medium") {
                            workerPin.classList.add('worker-pin-yellow');
                            workerPinClassSet = true;
                        }
                    }
                }
                if (!workerPinClassSet) {
                            workerPin.classList.add('worker-pin-green');
                            workerPinClassSet = true;
                }

                map.addHtml(workerPin, [data[i].Lon, data[i].Lat]);

                lats.push(data[i].Lat);
                lons.push(data[i].Lon);
            }

            if ($("#track-button").hasClass("tracking-enabled")) {
                setCameraBounds();
            }
        });
    }

    function updateData() {
        document.getElementById('dashAlertsTable').innerHTML= "<tr><td style='text-align:center; font-size:xx-large; font-weight:bold; height: 300px;'>Loading data...</td></tr>";

        $.get('https://wsm-function.azurewebsites.net/api/GetAlerts?code=0yhnqPotDwnm87RIPu6eXUmo1hFJ0BjNgfPPJxWAeXiJgKekkrLYJQ==', function (data) {
            var tableHTML = '';

            //Looping through alerts separately by level to order them correctly in the table.
            for (var i in data) {
                var alertTime = data[i].Time.split(' ');

                if (data[i].Level == "High") {
                    tableHTML += '<tr style="background-color:#ffb5b5;"><td style="width: 35%;">' + data[i].WorkerName + '</td>';
                    tableHTML += '<td style="width: 35%;">' + data[i].Type + '</td><td style="width: 15%;">' + data[i].ReadingValue + '</td>';
                    tableHTML += '<td style="width: 15%;">' + alertTime[1] + ' ' + alertTime[2] + '</td></tr>';
                }
            }
            for (var i in data) {
                var alertTime = data[i].Time.split(' ');

                if (data[i].Level == "Medium") {
                    tableHTML += '<tr style="background-color:#ffebbc;"><td style="width: 35%;">' + data[i].WorkerName + '</td>';
                    tableHTML += '<td style="width: 35%;">' + data[i].Type + '</td><td style="width: 15%;">' + data[i].ReadingValue + '</td>';
                    tableHTML += '<td style="width: 15%;">' + alertTime[1] + ' ' + alertTime[2] + '</td></tr>';
                }
            }
            for (var i in data) {
                var alertTime = data[i].Time.split(' ');

                if (data[i].Level == "Low") {
                    tableHTML += '<tr><td style="width: 35%;">' + data[i].WorkerName + '</td>';
                    tableHTML += '<td style="width: 35%;">' + data[i].Type + '</td><td style="width: 15%;">' + data[i].ReadingValue + '</td>';
                    tableHTML += '<td style="width: 15%;">' + alertTime[1] + ' ' + alertTime[2] + '</td></tr>';
                }
            }

            document.getElementById('dashAlertsTable').innerHTML = tableHTML;

            updateMapMarkers(data);
            updateUsers();
        });
    }

    function updateUsers() {
        document.getElementById("dashTeamContainer").innerHTML = "";

        var spacerDiv = document.createElement('span');
        spacerDiv.innerHTML = "&nbsp;";

        document.getElementById("dashTeamContainer").appendChild(spacerDiv);

        for (var i in testUsersData) {
                var workerCard = document.createElement('div');
                workerCard.id = "workerCard" + testUsersData[i].userId;
                workerCard.classList.add('dash-team-container-element');
                workerCard.addEventListener('click', function () { showMemberInfo(this); });

                var workerLabel = document.createElement('label');
                workerLabel.classList.add('dash-team-header-label');
                workerLabel.setAttribute('firstName', testUsersData[i].firstName);
                workerLabel.setAttribute('lastName', testUsersData[i].lastName);
                workerLabel.innerText = testUsersData[i].firstName;

                var workerImg = document.createElement('img');
                workerImg.classList.add('team-avatar');
                workerImg.src = "\\images\\avatar-placeholder.png";

                var workerInfoTable = document.createElement('table');
                workerInfoTable.classList.add('team-info-table');
                workerInfoTable.innerHTML = '<tr><td style="width: 50px; ">&nbsp;Phone:</td><td style="width: 115px;">' + testUsersData[i].phone + '</td></tr>';
                workerInfoTable.innerHTML += '<tr><td style="width: 50px; ">&nbsp;Status:</td><td style="width: 115px;">' + testUsersData[i].deviceStatus + '</td></tr>';

                if (testUsersData[i].deviceStatus.toLowerCase() != 'inactive') {
                    switch (testUsersData[i].lastWorkerLocation.alertLevel) {
                        case 0:
                            workerLabel.style.backgroundColor = 'rgb(51, 204, 51)';
                            break;
                        case 1:
                            workerLabel.style.backgroundColor = 'rgb(240, 210, 4)';
                            break;
                        case 2:
                            workerLabel.style.backgroundColor = 'rgb(255, 0, 0)';
                            break;
                    }
                }

                workerCard.appendChild(workerLabel);
                workerCard.appendChild(workerImg);
                workerCard.appendChild(workerInfoTable);

                document.getElementById("dashTeamContainer").appendChild(workerCard);
            }

            document.getElementById("dashTeamContainer").appendChild(spacerDiv);
    }

    function showMemberInfo(member) {
        if (!$(member).hasClass("expanded")) {
            $("#dashTeamContainer").children().not(member).addClass("disabled");
            $(member).addClass("expanded");
            $(member).animate({ 'min-width': '300px', width: '300px' }, 200, function () {
                $(member).children('.team-avatar').css('display', 'inline-block');
                $(member).children('.team-info-table').css('display', 'inline-block');
                $(member).children('.dash-team-header-label').text($(member).children('.dash-team-header-label').attr('firstName') + ' ' + $(member).children('.dash-team-header-label').attr('lastName'));
            });
        }
        else {
            $(member).children('.team-info-table').css('display', 'none');
            $(member).children('.team-avatar').css('display', 'block');
            $(member).children('.dash-team-header-label').text($(member).children('.dash-team-header-label').attr('firstName'));
            $(member).animate({ 'min-width': '127px', width: '127px' }, 200, function () {
                $(member).removeClass("expanded");
                $("#dashTeamContainer").children().not(member).removeClass("disabled");
                updateUsers();
            });
        }
    }

    function alertWorkers() {
        if (confirm('Are you sure you want to send an alert to all workers?')) {
            $.get('https://wsm-function.azurewebsites.net/api/wsm-c2d?action=set&state=1&key=warningMessage&t=1532890594078');
            alert("Sent an evacuation alert to all workers!");
        }
    }
</script>
}
