﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>
<br/>
<p>Please use the menu at the top of the page to access the dashboard.</p>

<style>
    .nav-item-home {
        background-color: rgba(0,0,0, 0.3);
    }
</style>