@model wsm_web.Models.User  
@{  
    ViewData["Title"] = "Login";  
}  
<h2>@ViewData["Title"]</h2>
<hr />  
<div class="row">  
    <div class="col-md-4">  
        @if (TempData["LoginFailed"] != null)  
        {  
            <p class="alert alert-danger">@TempData["LoginFailed"]</p>  
        }  
  
        <form asp-action="Login">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">  
                <label asp-for="UserID" class="control-label"></label>  
                <input asp-for="UserID" class="form-control" />  
                <span asp-validation-for="UserID" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label asp-for="Password" class="control-label"></label>  
                <input asp-for="Password" class="form-control" />  
                <span asp-validation-for="Password" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <input type="submit" value="Login" class="btn btn-default btn-success" />  
                <a asp-action="Register" class="btn btn-info">Register</a>  
            </div>  
        </form>  
    </div>  
</div>

@section Scripts {  
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
}  

<style>
    .nav-item-login {
        background-color: rgba(0,0,0, 0.3);
    }
</style>