@model wsm_web.Models.User
@{  
    ViewData["Title"] = "Register";  
}
<h2>@ViewData["Title"]</h2>  
<hr />  
<div class="row">  
    <div class="col-md-4">  
        @if (TempData["Success"] != null)  
        {  
            <p class="alert alert-success">@TempData["Success"]  <a asp-action="Login">Click here to login</a></p>  
        }  
        @if (TempData["Fail"] != null)  
        {  
            <p class="alert alert-danger">@TempData["Fail"]</p>  
        }  
        <form asp-action="Register">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">  
                <label asp-for="FirstName" class="control-label"></label>  
                <input asp-for="FirstName" class="form-control" />  
                <span asp-validation-for="FirstName" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label asp-for="LastName" class="control-label"></label>  
                <input asp-for="LastName" class="form-control" />  
                <span asp-validation-for="LastName" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label asp-for="UserID" class="control-label"></label>  
                <input asp-for="UserID" class="form-control" />  
                <span asp-validation-for="UserID" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label asp-for="Password" class="control-label"></label>  
                <input asp-for="Password" class="form-control" />  
                <span asp-validation-for="Password" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <input type="submit" value="Register" class="btn btn-default btn-primary" />  
            </div>  
        </form>  
    </div>  
</div>  
<div>  
    <a asp-action="Login">Back to Login page</a>  
</div>

@section Scripts {  
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
}

<style>
    .nav-item-login {
        background-color: rgba(0,0,0, 0.3);
    }
</style>