<link rel="stylesheet" href="https://atlas.microsoft.com/sdk/css/atlas.min.css?api-version=1.0" type="text/css" />
<script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1.0"></script>

<div id="mapContainer">
    <div id="search" style="display: none;">
        <div class="search-input-box">
            <div class="search-input-group">
                <div class="search-icon" type="button"></div>
                <input id="search-input" type="text" placeholder="Search">
            </div>
        </div>
        <ul id="search-info"></ul>
    </div>
    <div id="map"></div>
</div>

<script src="~/js/azureMap.js"></script>
<style>
    .worker-pin-green {
        height: 40px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 40px 40px;
        background-image: url('../images/map-marker-green.png');
        -webkit-filter: drop-shadow(1px 1px 0 black);
        filter: drop-shadow(1px 1px 0 black);
    }
    .worker-pin-yellow {
        height: 40px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 40px 40px;
        background-image: url('../images/map-marker-yellow.png');
        -webkit-filter: drop-shadow(1px 1px 0 black);
        filter: drop-shadow(1px 1px 0 black);
    }

    .worker-pin-red {
        height: 40px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 40px 40px;
        background-image: url('../images/map-marker-red.png');
        -webkit-filter: drop-shadow(1px 1px 0 black);
        filter: drop-shadow(1px 1px 0 black);
    }
    .worker-pin-label {
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
        white-space: nowrap;
    }

    #track-button {
        position: relative;
        top: 10px;
        left: 10px;
        margin: 0;
        padding: 0;
        background-size: 24px 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../images/tracking-icon.png');
    }
    .tracking-enabled {
        background-color: lightblue;
    }
</style>